<div class="col-md-6">
    <div class="card text-center order-visitor-card">
        <div class="card-block">
            <h4 class="m-b-0">Facebook</h4>
            <h6 class="m-t-15 m-b-15"><i class="ti-facebook m-r-15 text-c-blue"></i></h6>
            <p class="m-b-0">facebook.com/</p>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card text-center order-visitor-card">
        <div class="card-block">
            <h6 class="m-b-0">İnstagram</h6>
            <h4 class="m-t-15 m-b-15"><i class="ti-instagram m-r-15 text-c-green"></i></h4>
            <p class="m-b-0">instagram.com/</p>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card bg-c-red total-card">
        <div class="card-block">
            <div class="text-left">
                <h4>Twitter</h4>
                <p class="m-0">twitter.com/</p>
            </div>
            <span class="label bg-c-red value-badges"><i class="ti-twitter"></i></span>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card bg-c-green total-card">
        <div class="card-block">
            <div class="text-left">
                <h4>Linkedin</h4>
                <p class="m-0">linkedin.com/</p>
            </div>
            <span class="label bg-c-green value-badges"><i class="ti-linkedin"></i></span>
        </div>
    </div>
</div>
