@model List<KidKinderYeni.Entities.MailSubscribe>
    @foreach(var item in Model)
    {
<div class="col-lg-3 col-md-6 mb-5">
    <h3 class="text-primary mb-4">Newsletter</h3>
    <form action="">
        <div class="form-group">
            <input type="@item.NameSurname"
                   class="form-control border-0 py-4"
                   placeholder="İsim Soyisim"
                   required="required" />
        </div>
        <div class="form-group">
            <input type="@item.Email"
                   class="form-control border-0 py-4"
                   placeholder="Mail Adresiniz"
                   required="required" />
        </div>
        <div>
            <button class="btn btn-primary btn-block border-0 py-3"
                    type="submit">
                Kayıt Ol
            </button>
        </div>
    </form>
</div>
    }
