
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/KidKinderLayout/Index.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Header Start -->
    @Html.Action("ContactHeaderPartial", "Contact")
    <!-- Header End -->
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5">
                    <span class="px-2">İletişime Geçin</span>
                </p>
                <h1 class="mb-4">Herhangi Bir Soru İçin Bize Ulaşın</h1>
            </div>
            <div class="row">

                @Html.Action("ContactPartial", "Contact")


                @Html.Action("ContactAddressPartial", "Contact")
            </div>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48141.37834473687!2d28.86001442489763!3d41.0507121639375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caba81ed5c68f9%3A0xfbbec749f5fd7e0c!2zQmF5cmFtcGHFn2EvxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1714687416372!5m2!1str!2str" width="2100" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <!-- Contact End -->
</body>
</html>



